.header {
  color: white;

  &__title1 {
    @include sectionTitle;
  }

  &__title2 {
    @include title2;
  }

  &__title3 {
    font-weight: 700;
    font-size: 105px;
    line-height: 82px;
    background: linear-gradient(90deg, #e3cf9c 1.9%, #c78365 100%);
    background-clip: text;
    color: transparent;
  }

  &__secondaryText {
    @include secondaryText;
  }
}
